.blog-container_wrapper {
    margin: 20px;
}

.blogTOp {
    margin: 10px 0;
}

.blogTOp .heading {
    font-size: 22px;
}

.blog-container2 {
    margin: 20px;
    box-shadow: 0 0 4px rgb(0, 0, 0,0.33);
    border-radius: 6px;
}

.blog-img2 {
    width: 100%;
    height: 300px;
    padding: 10px;
    border-radius: 6px;
}

.blog-img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.blog-txt2 {
    padding: 10px;
}

.blog-txt2 span {
    color: orange;
    text-decoration: underline;
    cursor: pointer;
}