.term--container {
    width: 100%;
    min-height: 80vh;
    padding: 0 40px;
    margin-bottom: 100px;
    font-family: "Poppins";
}

.term__imgContainer {
    width: 50px;
    height: 50px;
}

.term--container__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.term__imgContainer img {
    width: 100%;
    height: 100%;
}

.term--container p {
    line-height: 2;
    color: gray;
}

.term--container span {
    font-weight: bold;

}

.term--container h5 {
    margin-top: 40px;
}

.term--container li {
    color: gray;
}